h2 {
    background-color: #0299EE;
    color: #ffffff;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.greybackground{
    background-color:darkslategrey;
}
.container {
    position: relative;
}
.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
.polaroidcontainer {
    text-align: center;
    padding: 10px 20px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.BeforAfterContainer:hover .overlay {
    opacity: 1;
}
